@media  (min-width: 1200px) {
    #category-sm{
        display: none;
    }
}





/* .container-fluid{
    width: 1000px;
    display: flex;
    flex-direction: column;
}
 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

 li{
    position: relative;
    float: left;
}
 ul li {
    display: none;
}
ul li:hover {
    display: inline;
}
li a{
    text-decoration: none;
    background-color: red;
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding: 4px;
    text-align: center;
} */
 /* li a:hover{
    background-color: red;
} */


/* 
.list-group{
    margin: 0;
    padding: 0;
}

ul a{
    text-decoration: none;
    background-color: red;
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding: 8px;
    text-align: center;
    
}
ul li{
    margin-right: 78px;
    float: right;
    list-style-type: none; 
    float: left;
}

#category{
    margin: 0;
    padding: 0;
    float: right;
    display: block;
} */