<h3 style="color:#034078">Üye Girişi</h3>
<form [formGroup]="loginForm" (ngSubmit)="login()">

<br>
<div class="form-group">
    <input type="text" id="email" formControlName="email" class="form-control" placeholder="example@gmail.com">
    <div class="alert alert-danger" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').dirty">Email required</div>
</div>
<br>
<div class="form-group">
    <input type="password" id="password" formControlName="password" class="form-control" placeholder="Şifre">
    <div class="alert alert-danger" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').dirty">Password required</div>
</div>
<br>
<button type="submit"  class="btn btn-primary"  [disabled]="loginForm.invalid">Giriş Yap</button><br>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Beni hatırla
    </label>
</div>
<button type="submit"  class="btn btn-link"  routerLink="/register">Üye değil misin? Kayıt ol!</button>
</form>